{% include 'navbar.html' %}
{% load static %}
<style type="text/css">
.zoom {
	transition: transform .1s; /* Animation */
}
.zoom:hover {
	transform: scale(1.2); /* (150% zoom)*/
}

</style>
<body style="background-color: #B0BAB6;"></body>
<img src="{% static 'images/branchpage.png' %}" style="width:100%; height:450px; border: 4px solid #586E79;">
<div class="container mt-5">
    <h3 class="text-center text-black">Our Branch Details</h3>
    <hr>
    <div class="row">
        {% for i in branch %}
        <div class="col-sm-4 p-2 zoom">

            <div class="card" style="height :auto ; border : 1px ridge black; background-color: #a7ffeb;">
                <div class="card-body">

                    <h4 class="card-title text-center text-danger" style="font-family:'Monotype corsiva'; font-size:30px">{{i.BranchName}}</h4>
                    <table border="1" style="text-align: center;">
                        <tr>
                            <th>Contact Number</th>
                            <td>{{i.BranchContactnumber}}</td>
                        </tr>
                        <tr>
                            <th>Email Id</th>
                            <td>{{i.BranchEmail}}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{i.BranchAddress}}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{i.BranchCity}}</td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>{{i.BranchState}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{i.BranchCountry}}</td>
                        </tr>
                        <tr>
                            <th>Pin Code</th>
                            <td>{{i.BranchPincode}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
</body>