{% extends 'adminNavbar.html' %}
{% block main %}
{% load static %}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Report Count Details</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Reports</li>
                        <li class="breadcrumb-item active">Report Count Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Report Count Details</h3>
                    </div>

                    <div class="card-body">
                        <h5 class="text-center text-primary">Report From <span style="color:red;">{{fd}}</span> to <span
                                style="color:red;">{{td}}</span></h5>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Total Courier Listed</th>
                                <th>Not Picked up yet</th>
                                <th>Total Courier Pickup</th>
                                <th>Total Shipped</th>
                                <th>Total Intransit</th>
                                <th>Total Arrived at Destination</th>
                                <th>Out for Delivery</th>
                                <th>Total Delivered</th>
                            </tr>
                            </thead>


                            <tbody>

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}